<div class="bg-(--secondary) shadow-xl rounded-lg overflow-hidden max-w-xs w-full">
    <!-- image block -->
    <img src="content/events/1174180_40.jpg" alt="Event Image" class="w-full h-48 object-cover" />

    <!-- card content -->
    <div class="p-4 space-y-3">
        <!-- title and date -->
        <div class="flex items-center justify-between">
            <h2 class="text-lg font-bold text-(--text) truncate">Event Title</h2>
            <span class="text-sm text-(--text) whitespace-nowrap">Apr 20, 2025</span>
        </div>

        <!-- description -->
        <p class="text-sm text-(--text)">
            This is a short description of the event. It gives a quick idea of what to expect.
        </p>

        <!-- capacity and book button -->
        <div class="flex items-center justify-between pt-4">
            <span class="text-sm font-medium text-(--text)">Capacity: 50/50</span>
            <a href="#" class="text-right cursor-pointer">
                <button class="bg-(--book-btn) hover:bg-(--hover-book-btn) text-(--text) font-semibold py-1 px-3 rounded shadow">
                    Book
                </button>
            </a>
        </div>
    </div>
</div>