<div onclick="{{onclick}}" class="bg-(--secondary) shadow-xl rounded-lg overflow-hidden cursor-pointer max-w-xs w-full">

    <!-- card content -->
    <div class="p-4 space-y-3">
        <!-- title -->
        <h2 class="text-lg font-bold text-(--text) truncate">{{title}}</h2>

        <!-- date and category -->
        <div class="flex items-center justify-between text-xs text-(--text)">
            <span>{{date}}</span>
            <span class="font-medium">{{category}}</span>
        </div>

        <!-- description -->
        <p class="text-sm text-(--text)">
            {{description}}
        </p>

    </div>

</div>
