<header class="p-4 flex items-center justify-between">

    <!-- left side for largers screens -->
    <div class="hidden flex items-center space-x-6 lg:flex" id="desktopHeader">
        <!-- logo that acts as home button -->
        <a href="index.html" class="flex-shrink-0" id="logo">
            <img src="content/logo.png" alt="Company Logo" class="h-10">
        </a>
    
        <!-- navigation links for larger screens -->
        <nav class="space-x-6 flex items-center" id="navLinks">
            <a href="index.html?Upcoming" class="block hover:text-(--hover-text)">Upcoming</a>
            <a href="index.html?Concert" class="block hover:text-(--hover-text)">Concerts</a>
            <a href="index.html?Sport" class="block hover:text-(--hover-text)">Sports</a>
            <a href="index.html?Musical" class="block hover:text-(--hover-text)">Musicals</a>
            <a href="index.html?Comedy" class="block hover:text-(--hover-text)">Comedy</a>
        </nav>
    </div>
    
    <!-- left side for smaller screens -->
    <div class="lg:hidden flex items-center space-x-6" id="mobileHeader">
        <!-- mobile hamburger menu -->
        <button id="hamburger" class="">
            <i class="fa-solid fa-bars w-6 h-6"></i>
        </button>

        <!-- mobile navigation links (hidden by default) -->
        <div class="lg:hidden hidden" id="mobile-menu">
            <a href="index.html" class="block hover:text-(--hover-text) py-2">Home</a>
            <nav id="mobileNavLinks" class="space-y-4">
            <a href="index.html?Upcoming" class="block hover:text-(--hover-text)">Upcoming</a>
            <a href="index.html?Concert" class="block hover:text-(--hover-text)">Concerts</a>
            <a href="index.html?Sport" class="block hover:text-(--hover-text)">Sports</a>
            <a href="index.html?Musical" class="block hover:text-(--hover-text)">Musicals</a>
            <a href="index.html?Comedy" class="block hover:text-(--hover-text)">Comedy</a>
            </nav>
        </div>
    </div>

    <!-- right side -->
    <div class="flex items-center space-x-4">
        
        <!-- search input-->
        <div id="searchBar" class="flex items-center hidden bg-(--bg) rounded-full px-3 py-1 w-32 sm:w-48 md:w-64 shadow-sm focus-within:ring-2 focus-within:ring-(--secondary)">
            <input
                id="searchBarText"
                type="text"
                placeholder="Search..."
                class="bg-transparent focus:outline-none w-full text-sm text-(--text) placeholder-gray-500"
            />
        </div>


        <!-- search icon -->
        <button id="searchIcon" class="p-2 hidden cursor-pointer rounded-full hover:block text-color(--icon) hover:text-(--hover-icon)">
            <i class="fa-solid fa-magnifying-glass w-5 h-5"></i>
        </button>

        <!-- profile icon -->
        <div class="relative">
            <button id="profileButton" class="w-8 h-8 rounded-full overflow-hidden focus:outline-none cursor-pointer">
                <img src="content/pfp.png" alt="User Icon" class="object-cover w-full h-full">
            </button>

            <!-- dropdown menu -->
            <div id="profileDropdown" class="absolute right-0 mt-2 w-48 bg-(--secondary) rounded-md shadow-lg hidden z-50">
                <p id="profileName" class="px-4 py-1 border-b">Test</p>
                <button type="button" id="headerOrgEventsBtn" class="w-full px-4 py-2 flex items-center hover:bg-(--bg) cursor-pointer text-sm text-left">
                    <i class="fa-solid fa-chart-line mr-2 w-4"></i>
                    <span>Organised Events</span>
                </button>
                <button type="button" id="headerUserEventsBtn" class="w-full px-4 py-2 flex items-center hover:bg-(--bg) cursor-pointer text-sm text-left">
                    <i class="fa-solid fa-calendar-days mr-2 w-4"></i>
                    <span>Your Events</span>
                </button>
                <button type="button" id="headerNotificationsBtn" class="w-full px-4 py-2 flex items-center hover:bg-(--bg) cursor-pointer text-sm text-left">
                    <i class="fa-solid fa-bell mr-2 w-4"></i>
                    <span>Notifications</span>
                </button>
                <button type="button" id="headerLogoutBtn" class="w-full px-4 py-2 flex items-center hover:bg-(--bg) cursor-pointer text-sm text-left">
                    <i class="fa-solid fa-arrow-right-from-bracket mr-2 w-4"></i>
                    <span>Logout</span>
                </button>
            </div>
        </div>
    </div>


</header>