<div class="flex items-center justify-between bg-(--secondary) shadow-md rounded-lg p-4 space-x-4">
    <div class="w-1/6 font-bold text-(--text)">
        {{title}}
    </div>

    <div class="w-1/2 text-(--text) truncate">
        {{description}}
    </div>

    <div class="w-1/12 text-sm text-(--text)">
        {{location}}
    </div>

    <div class="w-1/12 text-sm text-(--text)">
        {{date}}
    </div>

    <div class="w-1/12 text-sm font-medium text-(--text) text-center">
        {{capacity}}
    </div>

    <div class="w-1/12 text-right">
        <a href="{{link}}">
            <button class="bg-(--book-btn) hover:bg-(--hover-book-btn) text-(--text) cursor-pointer font-semibold py-1 px-3 rounded shadow">
                Book
            </button>
        </a>
    </div>
</div>
