/* website colour scheme */
:root {
    --bg: #0f172a;
    --secondary: #1d2841;
    --tertiary: #2b2f38;
    --text: #f8fafc;
    --hover-text: #9ca3af;
    --highlight-text: #005eff;
    --icon: #f8fafc;
    --hover-icon: #9ca3af;
    --form-outline: #f8fafc;
    --form-focus-outline: #9ca3af;
    --book-btn: #005eff;
    --hover-book-btn: #0042b4;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

/* change icon colour of ddate icon in form input */
input {
    color-scheme: dark;
}